
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>
    {{>header}}
    <h1>{{title}}</h1>
    <form class="form">
    <input class="addressInput" type="text" name="" id="" placeholder="Enter your address">
    <button type="submit">Submit</button>
    </form>
    <p class="weatherData"></p>
    <p class="weatherData2"></p>
    <h2>{{>footer}}</h2>
    <script src="/js/app.js"></script>
  </body>
</html>