<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Haeder</title>
  </head>
  <body>
    <div class="navbar">
      <a href="">Weather</a>
      <a href="">Help</a>
      <a href="">About</a>
    </div>
  </body>
</html>